/* @theme base */

@import 'default';

section.paragraph p {
    font-size: 60px;
    text-align: center;
}

 blockquote {
   border-top: 0.1em dashed var(--black);
   font-size: var(--mini-font-size);
   width: 100%;
   width: 90%;
   position: absolute;
   bottom: var(--header-footer-height);
   padding-left: 0px;
 }

 blockquote::before {
   display: none;
 }
 blockquote::after {
   display: none;
 }

section::after {
    content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}
