/* @theme base */

@import 'default';

section.centering {
    text-align: center;
}

section b {
  font-weight: bold;
  color: black;
}

c {
  position: absolute;
  top: 1.5em;         /* 上からの距離 */
  left: 0.5em;        /* 左からの距離 */
  font-size: 48px;
  color: black;
  font-weight: bold;
  margin: 0;
}

 blockquote {
   border-top: 0.1em dashed var(--black);
   font-size: 20px;
   width: 100%;
   width: 90%;
   position: absolute;
   bottom: 50px;
   padding-left: 0px;
 }

 blockquote::before {
   display: none;
 }
 blockquote::after {
   display: none;
 }

header {
    font-size: 30px;
}

section::after {
    content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

/*表について*/
/* 全セルに共通スタイル（細い線） */
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

/* 最上部の横線（表全体の一番上の行） */
table tr:first-child th,
table tr:first-child td {
  border-top: 3px solid black;
}

/* ヘッダー行の下に太線（既存） */
thead tr:last-child th {
  border-bottom: 3px solid black;
}

/* 最下部の横線（表の一番下の行） */
table tr:last-child td {
  border-bottom: 3px solid black;
}