/* @theme base */

@import "default";
@theme base;

section.heading h1 {
    color: red;
}

section.lists ul {
    border: 1px solid #000000;
}

section.lists ul li {
    padding: 10px;
}

section.paragraph p {
    font-size: 120px;
    text-align: center;
}

section.right_bottom {
    background: url(https://placehold.jp/400x400.png) right bottom no-repeat;
}

section.right_top {
    background: url(https://placehold.jp/400x400.png) right top no-repeat;
}

section.left_bottom {
    background: url(https://placehold.jp/400x400.png) left bottom no-repeat;
}

section.left_top {
    background: url(https://placehold.jp/400x400.png) left 40px top 40px no-repeat;
}

:root {
   --mini-font-size: 20px;
   --header-footer-height: 50px;
}

 blockquote {
   border-top: 0.1em dashed var(--black);
   font-size: var(--mini-font-size);
   width: 100%;
   width: 90%;
   position: absolute;
   bottom: var(--header-footer-height);
   padding-left: 0px;
 }

 blockquote::before {
   display: none;
 }
 blockquote::after {
   display: none;
 }

section {
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 32px;
    padding: 40px;
}

section.title h1 {
    color: white;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 60px;
    text-align: center;
}

section.title {
    color: white;
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 36px;
    text-align: center;
    padding: 40px;
}

section.slides h1 {
    background: linear-gradient( to left,  rgba(69,179,224,1) 25%, rgb(97, 109, 218) 75% );
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 42px;
    position: absolute;
    left: 50px; top: 50px;
}

section.slides h2 {
    font-size: 32px;
    color: #4ac;
    position: absolute;
    left: 50px; top: 90px;
}

section::after {
    content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  }
